@use 'mixins';

::ng-deep {
  .mat-drawer-content {
    display: flex !important;
  }

  .form-container {
    width: 100%;
    overflow: hidden;

    .submit-button {
      margin-top: 8px;
    }
  }
}

.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  height: fit-content;
  padding: 8px 8px 48px;

  .art-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 16px 0;

    .mat-icon {
      width: 48px;
      height: 48px;
    }

    .title {
      @include mixins.font-size(24px);

      margin: 16px 0 24px;
    }
  }

  .outlet-container {
    .mat-card {
      width: inherit;
    }
  }

  .privacy-container {
    max-width: 380px;
    margin-top: 32px;
    text-align: center;
  }
}

@media (min-width: 425px) {
  .auth-container .outlet-container .mat-card {
    width: 350px;
  }
}

@media (min-width: 768px) {
  .auth-container {
    padding: 16px 16px 48px;
  }
}
