@use 'global';

:host {
  .margin-bottom {
    margin-bottom: 16px;
  }

  .alert-container {
    display: flex;
    flex-direction: column;
    column-gap: 8px;
    row-gap: 8px;
  }

  @media (min-width: 425px) {
    .alert-container {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
}
