@use 'sass:map';
@use 'palette';
@use 'mixins';

.tag {
  @include mixins.font-size(12px);

  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 2px 6px;
  white-space: nowrap;
  border-radius: 100px;

  @each $key in map-keys(palette.$at-palette-keys) {
    &.#{$key} {
      color: map.get(palette.$at-palette, $key);
      background-color: map.get(palette.$at-palette, alpha, $key);
      border: 2px solid map.get(palette.$at-palette, $key);
    }
  }
}
