@use 'mixins';
@use 'variables';

.settings-section {
  margin-bottom: 32px;
}

.settings-section-header {
  @include mixins.font-size(22px);

  margin-bottom: 24px;
  padding-bottom: 16px;
  color: var(--color-neutral);
  border-bottom: 2px solid var(--color-border);
}
