@use 'mixins';

.settings-section {
  margin-bottom: 32px;
}

.settings-section-header {
  @include mixins.font-size(22px);

  position: sticky;
  z-index: 1;
  top: 56px;

  margin-bottom: 24px;
  padding: 16px 0;

  background-color: var(--color-canvas);
  border-bottom: 2px solid var(--color-border);
}
