<div class="at-application-panel-section">
  <div class="at-application-panel-section-title-container">
    <h2 class="at-application-panel-section-title">Info</h2>
    <button *ngIf="!isEditing" mat-icon-button class="at-text neutral" (click)="edit()">
      <mat-icon>edit</mat-icon>
    </button>
  </div>
  <div class="at-application-panel-section-body">
    <ng-container *ngIf="!isEditing; else infoFormTemplate">
      <div class="at-application-panel-grid">
        <div class="at-application-panel-data-item">
          <div class="at-application-panel-data-item-label">Location</div>
          <div class="at-application-panel-data-item-data">
            <ng-container *ngIf="application.location; else noData">
              {{ application.location }}
            </ng-container>
          </div>
        </div>
        <div class="at-application-panel-data-item" [matTooltip]="application.link ?? ''">
          <div class="at-application-panel-data-item-label">Application Link</div>
          <a
            *ngIf="application.link; else noData"
            [href]="application.link"
            target="_blank"
            rel="noreferrer"
            class="at-application-panel-data-item-data"
          >
            {{ application.link | trimUrl }}
          </a>
        </div>
        <div class="at-application-panel-data-item">
          <div class="at-application-panel-data-item-label">Compensation</div>
          <div class="at-application-panel-data-item-data">
            <ng-container *ngIf="application.compensation; else noData">
              {{ application.compensation | currency: 'USD' : 'symbol' : '1.0-0' }} / {{ application.payPeriod }}
            </ng-container>
          </div>
        </div>
        <div class="at-application-panel-data-item">
          <div class="at-application-panel-data-item-label">Date</div>
          <div class="at-application-panel-data-item-data">
            {{ application.date | timestampDate }}
          </div>
        </div>
      </div>
    </ng-container>

    <ng-template #infoFormTemplate>
      <form [formGroup]="infoForm" class="form-grid">
        <!-- Location Input -->
        <mat-form-field class="full-width">
          <mat-label>Location</mat-label>
          <input formControlName="location" matInput type="text" />
          <mat-error>{{ getError(location) }}</mat-error>
        </mat-form-field>

        <!-- Application Link Input -->
        <mat-form-field class="full-width">
          <mat-label>Application link</mat-label>
          <input formControlName="link" matInput type="text" />
          <mat-error>{{ getLinkError(link) }}</mat-error>
        </mat-form-field>

        <!-- Compensation Input -->
        <div class="mat-form-field-combined">
          <mat-form-field class="full-width" floatLabel="always">
            <mat-label>Compensation</mat-label>
            <input formControlName="compensation" matInput type="number" placeholder="0" class="number-input" />
            <span matTextPrefix>$&nbsp;</span>
            <span matTextSuffix>/</span>
            <mat-error>{{ getError(compensation) }}</mat-error>
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label>Pay Period</mat-label>
            <mat-select formControlName="payPeriod">
              <mat-option *ngFor="let p of payPeriodOptions" [value]="p">
                {{ p }}
              </mat-option>
            </mat-select>
            <mat-error>{{ getError(payPeriod) }}</mat-error>
            <mat-icon matSuffix>arrow_drop_down</mat-icon>
          </mat-form-field>
        </div>

        <!-- Date Applied Date Picker -->
        <mat-form-field class="full-width">
          <mat-label>Date</mat-label>
          <input formControlName="date" matInput [matDatepicker]="datePicker" [max]="currentDate" />
          <mat-datepicker-toggle matSuffix [for]="datePicker">
            <mat-icon matDatepickerToggleIcon class="at-text neutral">today</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #datePicker></mat-datepicker>
          <mat-error>{{ getError(date) }}</mat-error>
        </mat-form-field>
      </form>

      <!-- Buttons -->
      <div class="button-row-container-end">
        <button mat-button (click)="cancel()">Cancel</button>
        <button mat-flat-button [color]="column.color" [disabled]="infoForm.invalid || isLoading" (click)="save()">
          <div *ngIf="isLoading; else text" class="loading-spinner-in-button">
            <mat-spinner color="accent" diameter="24"></mat-spinner>
          </div>
          <ng-template #text>Save</ng-template>
        </button>
      </div>
    </ng-template>
  </div>
</div>
<ng-template #noData>&mdash;</ng-template>
