<div mat-dialog-title class="dialog-toolbar">
  <div class="dialog-title-container">
    <h1 class="dialog-title at-text" [ngClass]="column.color">{{ application.company }}</h1>
    <h2 class="dialog-sub-title">{{ application.position }}</h2>
  </div>
  <span class="spacer"></span>
  <div class="button-row">
    <button matTooltip="Menu" mat-icon-button class="at-text neutral" [matMenuTriggerFor]="optionsMenu">
      <mat-icon>more_horiz</mat-icon>
    </button>
    <button matTooltip="Close" mat-icon-button (click)="close()" class="at-text neutral">
      <mat-icon>close</mat-icon>
    </button>

    <mat-menu #optionsMenu="matMenu" xPosition="before">
      <button mat-menu-item [matMenuTriggerFor]="columnsMenu" class="mat-menu-item-with-right-icon">
        Move
        <mat-icon>arrow_right</mat-icon>
      </button>
      <button mat-menu-item class="at-text danger" (click)="deleteApplication()">Delete</button>
    </mat-menu>
    <mat-menu #columnsMenu="matMenu">
      <button
        *ngFor="let col of columns | async"
        mat-menu-item
        [disabled]="col.docId === column.docId"
        [class.at-text]="col.docId !== column.docId"
        [ngClass]="col.color"
        (click)="moveApplication(col)"
      >
        {{ col.title }}
      </button>
    </mat-menu>
  </div>
</div>
<mat-tab-group
  mat-dialog-content
  mat-stretch-tabs="false"
  mat-align-tabs="start"
  [color]="column.color"
  [ngClass]="column.color"
  class="mat-dialog-content-with-tabs"
>
  <mat-tab label="Info">
    <ng-template matTabContent>
      <at-application-info-form
        [application]="application"
        [currentColumn]="column"
        [action]="dialogActions.Edit"
      ></at-application-info-form>
    </ng-template>
  </mat-tab>
  <mat-tab label="Offer">
    <ng-template matTabContent>
      <at-application-offer-form [application]="application" [currentColumn]="column"></at-application-offer-form>
    </ng-template>
  </mat-tab>
</mat-tab-group>
