@use 'mixins';

:host {
  .section {
    margin-bottom: 32px;
  }

  .account-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
  }

  .account-details-avatar {
    width: 72px;
    height: 72px;
    margin-bottom: 16px;
  }

  .account-details-email {
    @include mixins.font-size(16px);

    margin-bottom: 8px;
  }

  ::ng-deep .at-alert {
    margin-bottom: 16px;
  }
}
