:host {
  ::ng-deep .job-board-menu {
    &:hover .mat-mdc-button-persistent-ripple {
      background-color: var(--color-hover);

      &::before {
        opacity: 0 !important;
      }
    }

    .mat-icon {
      width: 18px;
      height: 18px;
    }

    .mat-mdc-button-persistent-ripple,
    .mat-ripple {
      border-radius: 8px !important;
    }

    .text {
      display: block;
      max-width: 100px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .spinner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  @media (width >= 375px) {
    .job-board-menu .text {
      max-width: 130px;
    }
  }

  @media (width >= 425px) {
    .job-board-menu .text {
      max-width: 150px;
    }
  }
}
