<ng-container *ngIf="currentJobBoard$; else loading">
  <button
    *ngIf="jobBoards$ | async"
    mat-flat-button
    [matMenuTriggerFor]="jobBoardMenu"
    class="mat-button-with-right-icon job-board-menu at-border border"
  >
    <ng-container *ngFor="let jobBoard of jobBoards$ | async">
      <span *ngIf="jobBoard.docId === (currentJobBoard$ | async)" class="text">{{ jobBoard.title }}</span>
    </ng-container>
    <mat-icon class="at-text muted large-icon">arrow_drop_down</mat-icon>
  </button>
  <mat-menu #jobBoardMenu="matMenu">
    <button mat-menu-item (click)="newBoard()">New job board</button>
    <mat-divider></mat-divider>
    <button
      mat-menu-item
      *ngFor="let jobBoard of jobBoards$ | async"
      (click)="onSelectionChange(jobBoard)"
      [ngClass]="{ 'mat-list-single-selected-option': (currentJobBoard$ | async) === jobBoard.docId }"
    >
      {{ jobBoard.title }}
    </button>
  </mat-menu>
</ng-container>
<ng-template #loading>
  <div class="spinner-container">
    <mat-spinner color="accent" diameter="24"></mat-spinner>
  </div>
</ng-template>
