<ng-container *ngIf="currentJobBoard$; else loading">
  <ng-container *ngIf="mode === 'select'; else menuMode">
    <mat-form-field class="full-width">
      <mat-label>Current job board</mat-label>
      <mat-select [value]="(currentJobBoard$ | async) ?? ''">
        <mat-option
          *ngFor="let jobBoard of jobBoards$ | async"
          [value]="jobBoard.docId"
          (click)="onSelectionChange(jobBoard)"
        >
          {{ jobBoard.title }}
        </mat-option>
      </mat-select>
      <mat-icon matSuffix class="arrow-drop-down">arrow_drop_down</mat-icon>
    </mat-form-field>
    <button mat-flat-button color="primary" class="full-width" (click)="newBoard()">New job board</button>
  </ng-container>
  <ng-template #menuMode>
    <button
      *ngIf="jobBoards$ | async"
      mat-flat-button
      [matMenuTriggerFor]="jobBoardMenu"
      class="mat-button-with-right-icon job-board-menu at-border border"
    >
      <ng-container *ngFor="let jobBoard of jobBoards$ | async">
        <span *ngIf="jobBoard.docId === (currentJobBoard$ | async)" class="text">{{ jobBoard.title }}</span>
      </ng-container>
      <mat-icon class="at-text muted large-icon">arrow_drop_down</mat-icon>
    </button>
    <mat-menu #jobBoardMenu="matMenu">
      <button mat-menu-item (click)="newBoard()">New job board</button>
      <mat-divider></mat-divider>
      <button
        mat-menu-item
        *ngFor="let jobBoard of jobBoards$ | async"
        (click)="onSelectionChange(jobBoard)"
        [ngClass]="{ 'mat-list-single-selected-option': (currentJobBoard$ | async) === jobBoard.docId }"
      >
        {{ jobBoard.title }}
      </button>
    </mat-menu>
  </ng-template>
</ng-container>
<ng-template #loading>
  <div class="spinner-container">
    <mat-spinner color="accent" diameter="24"></mat-spinner>
  </div>
</ng-template>
