<mat-toolbar>
  <a mat-button routerLink="dashboard" class="mat-button-with-left-icon">
    <mat-icon svgIcon="carbon-arrow-left"></mat-icon>
    Dashboard
  </a>
  <div class="spacer"></div>
  <button mat-button class="mat-button-with-right-icon" (click)="signOut()">
    Sign out
    <mat-icon svgIcon="carbon-logout"></mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container class="settings-container">
  <mat-sidenav mode="side" [opened]="opened">
    <ng-container *ngTemplateOutlet="sidenavItems"></ng-container>
  </mat-sidenav>
  <mat-sidenav-content class="at-alt-background">
    <ng-container *ngIf="!opened">
      <ng-container *ngTemplateOutlet="sidenavItems"></ng-container>
    </ng-container>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #sidenavItems>
  <h1>Settings</h1>
  <div class="settings-container-sidenav">
    <a routerLink="account" routerLinkActive="active" class="settings-sidenav-item">
      <mat-icon svgIcon="carbon-user-avatar"></mat-icon>
      Account
    </a>
    <a routerLink="appearance" routerLinkActive="active" class="settings-sidenav-item">
      <mat-icon svgIcon="carbon-color-palette"></mat-icon>
      Appearance
    </a>
  </div>
</ng-template>
