:host {
  .mat-toolbar {
    position: fixed;
    top: 0;
    z-index: 1;
  }

  .content {
    margin-top: 56px;
    margin-right: auto;
    margin-left: auto;
    padding: 8px;
  }

  @media (min-width: 600px) {
    .content {
      margin-top: 64px;
    }
  }

  @media (min-width: 600px) {
    .content {
      max-width: 1170px;
      padding: 16px;
    }
  }
}
