.at-google-button {
  color: var(--color-black) !important;
  background-color: var(--color-white) !important;

  &:hover,
  &:focus {
    background-color: #f6f8fa;
  }

  &.is-disabled {
    background-color: transparent;
  }
}

.at-google-button-dark-theme {
  border-color: var(--color-white) !important;
}
