<mat-card-title>Forgot password</mat-card-title>
<mat-card-content> A link will be sent to the provided email address to reset your password. </mat-card-content>
<form (ngSubmit)="sendPasswordResetEmail()">
  <mat-form-field class="full-width">
    <mat-label>Email</mat-label>
    <input [formControl]="email" matInput type="email" required />
    <mat-error>{{ getFormControlError() }}</mat-error>
  </mat-form-field>
  <button mat-flat-button color="primary" type="submit" [disabled]="isLoading" class="full-width">
    <div *ngIf="isLoading" class="loading-spinner-in-button">
      <mat-spinner color="accent" diameter="24"></mat-spinner>
    </div>
    <ng-container *ngIf="!isLoading">Send email</ng-container>
  </button>
</form>
<a mat-button class="full-width back-button" [routerLink]="['/', paths.Auth, paths.SignIn]">Back to sign in</a>
