<form (ngSubmit)="sendPasswordResetEmail()" [class.form-max-width]="maxWidth">
  <mat-form-field class="full-width">
    <mat-label>Email</mat-label>
    <input [formControl]="email" matInput type="email" [readonly]="readonly" required />
    <mat-hint *ngIf="hint">{{ hint }}</mat-hint>
    <mat-error>{{ getEmailError(email) }}</mat-error>
  </mat-form-field>
  <button
    mat-flat-button
    color="primary"
    type="submit"
    [disabled]="isLoading"
    [class.full-width]="!maxWidth"
  >
    <div *ngIf="isLoading" class="loading-spinner-in-button">
      <mat-spinner color="accent" diameter="24"></mat-spinner>
    </div>
    <ng-container *ngIf="!isLoading">Send email</ng-container>
  </button>
</form>
