<ng-container *ngIf="!user; else settings">
  <div class="spinner-container">
    <mat-spinner [diameter]="48" color="accent"></mat-spinner>
  </div>
</ng-container>

<ng-template #settings>
  <div class="settings-section">
    <h2 class="settings-section-header">Account</h2>
    <div class="settings-account-details-email">{{ user!.email }}</div>
    <div class="at-caption">Signed in with {{ providerDisplay }}</div>
  </div>

  <!-- Export data -->
  <div class="settings-section">
    <h2 class="settings-section-header">Export data</h2>
    <at-alert class="at-text primary" [color]="colors.Accent">
      <div message>
        Do not reload the page or navigate away while the export is in progress. Doing so may result
        in an incomplete export.
      </div>
    </at-alert>
    <button mat-flat-button color="accent" [disabled]="isBulkExportLoading" (click)="bulkExport()">
      <div *ngIf="isBulkExportLoading" class="loading-spinner-in-button">
        <mat-spinner color="accent" diameter="24"></mat-spinner>
      </div>
      <ng-container *ngIf="!isBulkExportLoading">Export</ng-container>
    </button>
  </div>

  <ng-container *ngIf="provider === providers.Password">
    <!-- Update email address -->
    <div class="settings-section">
      <h2 class="settings-section-header">Update email address</h2>
      <div>
        <form
          #updateEmailFormDirective="ngForm"
          [formGroup]="updateEmailForm"
          (ngSubmit)="updateUserEmail(updateEmailFormDirective)"
          class="form-max-width"
        >
          <mat-form-field class="full-width">
            <mat-label>New email address</mat-label>
            <input formControlName="newEmail" matInput type="email" required />
            <mat-error>{{ getEmailError(newEmail) }}</mat-error>
          </mat-form-field>
          <mat-form-field class="full-width">
            <mat-label>Password</mat-label>
            <input formControlName="password" matInput type="password" required />
            <mat-error>{{ getEmailError(password) }}</mat-error>
          </mat-form-field>
          <button mat-flat-button color="primary" [disabled]="isUpdateEmailLoading" type="submit">
            <div *ngIf="isUpdateEmailLoading" class="loading-spinner-in-button">
              <mat-spinner color="accent" diameter="24"></mat-spinner>
            </div>
            <ng-container *ngIf="!isUpdateEmailLoading">Update</ng-container>
          </button>
        </form>
      </div>
    </div>

    <!-- Update password -->
    <div class="settings-section">
      <h2 class="settings-section-header">Update password</h2>
      <at-reset-password-form
        [authMode]="authModes.Update"
        buttonText="Update"
        [email]="user!.email ?? ''"
        [maxWidth]="true"
      ></at-reset-password-form>
    </div>

    <!-- Forgot password -->
    <div class="settings-section">
      <h2 class="settings-section-header">Forgot password</h2>
      <at-forgot-password-form
        [emailValue]="user!.email!"
        [readonly]="true"
        hint="This field cannot be modified"
        [maxWidth]="true"
      ></at-forgot-password-form>
    </div>
  </ng-container>

  <!-- Delete account -->
  <div class="settings-section">
    <h2 class="settings-section-header at-text danger">Delete account</h2>
    <at-alert class="at-text danger" [color]="colors.Danger">
      <div message>
        This action will delete your account and all data associated with your account. This action
        cannot be undone. Your account and data cannot be recovered.
      </div>
    </at-alert>
    <mat-stepper orientation="vertical" color="warn" [linear]="true" #authStepper>
      <!-- Step 1: Re-authenticate -->
      <mat-step [editable]="false" [completed]="stepOneCompleted">
        <ng-template matStepLabel>Re-authenticate</ng-template>
        <ng-template matStepContent>
          <ng-container [ngSwitch]="provider">
            <!-- Apple provider -->
            <at-sign-in-with-apple-button
              *ngSwitchCase="providers.Apple"
              [authMode]="authModes.Reauthenticate"
              [fullWidth]="false"
              prefix="Sign in"
              (reauthenticated)="goToNextStep(authStepper)"
            ></at-sign-in-with-apple-button>

            <!-- Google provider -->
            <at-sign-in-with-google-button
              *ngSwitchCase="providers.Google"
              [authMode]="authModes.Reauthenticate"
              [fullWidth]="false"
              prefix="Sign in"
              (reauthenticated)="goToNextStep(authStepper)"
            ></at-sign-in-with-google-button>

            <!-- Password provider -->
            <at-sign-in-with-password-form
              *ngSwitchCase="providers.Password"
              [authMode]="authModes.Reauthenticate"
              buttonColor="danger"
              buttonText="Re-authenticate"
              [showForm]="true"
              (reauthenticated)="goToNextStep(authStepper)"
              [maxWidth]="true"
            ></at-sign-in-with-password-form>
          </ng-container>
        </ng-template>
      </mat-step>

      <!-- Step 2: Confirm deletion -->
      <mat-step [editable]="false">
        <ng-template matStepLabel>Confirm deletion</ng-template>
        <ng-template matStepContent>
          <p>
            To delete your account, type
            <span class="danger at-text">delete account and data</span>.
          </p>
          <form (ngSubmit)="deleteUser()" class="form-max-width">
            <mat-form-field class="full-width">
              <mat-label>Confirmation</mat-label>
              <input
                [formControl]="confirmDeleteControl"
                matInput
                type="text"
                placeholder="delete account and data"
                required
              />
              <mat-error>{{ getConfirmDeleteError() }}</mat-error>
            </mat-form-field>
            <button mat-flat-button color="danger" type="submit" [disabled]="isLoading">
              <div *ngIf="isLoading" class="loading-spinner-in-button">
                <mat-spinner color="accent" diameter="24"></mat-spinner>
              </div>
              <ng-container *ngIf="!isLoading">Delete</ng-container>
            </button>
          </form>
        </ng-template>
      </mat-step>
    </mat-stepper>
  </div>
</ng-template>
