<div mat-dialog-title class="dialog-toolbar">
  <div class="dialog-title-container">
    <div class="dialog-title at-text" [ngClass]="column.color!">{{ application.company }}</div>
    <div class="dialog-sub-title">{{ application.position }}</div>
  </div>
  <span class="spacer"></span>
  <div class="button-row">
    <button matTooltip="Menu" mat-icon-button class="at-text at-black-white" [matMenuTriggerFor]="optionsMenu">
      <mat-icon svgIcon="carbon-overflow-menu-horizontal"></mat-icon>
    </button>
    <button matTooltip="Close" mat-icon-button (click)="close()" class="at-text at-black-white">
      <mat-icon>close</mat-icon>
    </button>

    <mat-menu #optionsMenu="matMenu" xPosition="before">
      <button mat-menu-item [matMenuTriggerFor]="columnsMenu">Move</button>
      <button mat-menu-item class="at-text at-error" (click)="deleteApplication()">Delete</button>
    </mat-menu>
    <mat-menu #columnsMenu="matMenu">
      <button
        *ngFor="let col of columns | async"
        mat-menu-item
        [disabled]="col.docId === column.docId"
        (click)="moveApplication(col)"
      >
        {{ col.title }}
      </button>
    </mat-menu>
  </div>
</div>
<mat-tab-group mat-dialog-content [ngClass]="column.color!">
  <mat-tab label="Info">
    <ng-template matTabContent>
      <at-application-info-form
        [application]="application"
        [currentColumn]="column"
        [columns]="columns"
        [action]="dialogActions.Edit"
      ></at-application-info-form>
    </ng-template>
  </mat-tab>
</mat-tab-group>
