<div mat-dialog-title class="dialog-toolbar">
  <span class="dialog-title">{{ header }} job board</span>
  <span class="spacer"></span>
  <button mat-icon-button (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<form [formGroup]="jobBoardForm" mat-dialog-content>
  <mat-form-field class="full-width">
    <mat-label>Title</mat-label>
    <input formControlName="title" matInput type="text" />
    <mat-error>{{ getError(title) }}</mat-error>
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>Date</mat-label>
    <input formControlName="date" matInput [matDatepicker]="picker" />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error>{{ getError(date) }}</mat-error>
  </mat-form-field>
</form>
<div mat-dialog-actions class="button-row-container-end">
  <button mat-button (click)="close()">Cancel</button>
  <button
    mat-flat-button
    color="primary"
    [disabled]="jobBoardForm.invalid || isLoading"
    (click)="submit()"
    class="test"
  >
    <div *ngIf="isLoading" class="loading-spinner-in-button">
      <mat-spinner color="accent" diameter="24"></mat-spinner>
    </div>
    <ng-container *ngIf="!isLoading">{{ button }}</ng-container>
  </button>
</div>
