<form
  #passwordFromDirective="ngForm"
  [formGroup]="passwordForm"
  (ngSubmit)="confirmPasswordReset(passwordFromDirective)"
  class="form-container"
>
  <mat-form-field *ngIf="authMode === authModes.Update" class="full-width">
    <mat-label>Current password</mat-label>
    <input matInput formControlName="currentPassword" type="password" required />
    <mat-error>{{ getFormControlError(currentPassword ?? null) }}</mat-error>
  </mat-form-field>
  <mat-form-field class="full-width two-line-hint">
    <mat-label>New Password</mat-label>
    <input formControlName="newPassword" matInput type="password" required />
    <mat-hint>8 or more characters with a mix of letters, numbers, and symbols</mat-hint>
    <mat-error>{{ getFormControlError(newPassword) }}</mat-error>
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>Confirm Password</mat-label>
    <input formControlName="confirmPassword" matInput type="password" required />
    <mat-hint>Passwords must match</mat-hint>
    <mat-error>{{ getFormControlError(confirmPassword) }}</mat-error>
  </mat-form-field>
  <button mat-flat-button type="submit" color="primary" [disabled]="isLoading" class="full-width submit-button">
    <div *ngIf="isLoading" class="loading-spinner-in-button">
      <mat-spinner color="accent" diameter="24"></mat-spinner>
    </div>
    <ng-container *ngIf="!isLoading">{{ buttonText }}</ng-container>
  </button>
</form>
