<ng-container *ngIf="isLoaded | async; else loading" cdkScrollable cdkDropListGroup>
  <at-column *ngFor="let columnId of columnIds$ | async; let i = index" [columnId]="columnId"></at-column>
  <div class="add-column-button-container">
    <button mat-stroked-button color="neutral" class="add-column-button full-width" (click)="addNewColumn()">
      New column
    </button>
  </div>
</ng-container>
<ng-template #loading>
  <div class="at-applications-loading-container">
    <mat-spinner diameter="48"></mat-spinner>
  </div>
</ng-template>
