.at-apple-button-light-theme {
  color: var(--color-white) !important;
  background-color: var(--color-black) !important;

  &.is-disabled {
    background-color: transparent;
  }
}

.at-apple-button-dark-theme {
  color: var(--color-black) !important;
  background-color: var(--color-white) !important;

  &:hover,
  &:focus {
    background-color: #f6f8fa;
  }

  &.is-disabled {
    background-color: transparent;
  }
}
