.apple-button-light {
  color: var(--color-white);
  background-color: var(--color-black);

  &.is-disabled {
    background-color: transparent;
  }
}

.apple-button-dark {
  color: var(--color-black);
  background-color: var(--color-white);

  &:hover,
  &:focus {
    background-color: #f6f8fa;
  }

  &.is-disabled {
    background-color: transparent;
  }
}
