@use 'variables';

:host {
  padding: 8px 8px 128px;

  @media (min-width: 600px) {
    padding: 16px 16px 128px;
  }
}

.job-boards-list {
  width: 100%;
  height: fit-content;
  padding: 0;
  border-radius: variables.$border-radius;
}

@media (min-width: 1280px) {
  .job-boards-list {
    margin: 0 0 128px;
  }
}
