.cdk-virtual-scroll-content-wrapper {
  width: calc(100% - 20px);
  min-width: unset !important;
  padding: 0 10px 10px !important;

  @media (min-width: 768px) {
    width: calc(100% - 32px);
    padding: 0 16px 16px !important;
  }
}

.loading-container {
  padding: 0 16px;
}
