<ng-container [ngSwitch]="authParams.mode">
  <ng-container *ngSwitchCase="params.ResetPassword">
    <h2 class="at-auth-card-title">Reset password</h2>
    <at-reset-password-form [authParams]="authParams"></at-reset-password-form>
  </ng-container>

  <ng-container *ngSwitchCase="params.VerifyEmail">
    <h2 class="at-auth-card-title">Verify email</h2>
    <p>Click the button below to verify your email address.</p>
    <button
      mat-flat-button
      color="primary"
      [disabled]="isLoading"
      (click)="verifyEmail()"
      class="full-width submit-button"
    >
      <div *ngIf="isLoading" class="loading-spinner-in-button">
        <mat-spinner color="accent" diameter="24"></mat-spinner>
      </div>
      <ng-container *ngIf="!isLoading">Verify</ng-container>
    </button>
  </ng-container>

  <ng-container *ngSwitchCase="params.RecoverEmail">
    <h2 class="at-auth-card-title">Recover email</h2>
    <p>Click the button below to recover your email address.</p>
    <button
      mat-flat-button
      color="primary"
      [disabled]="isLoading"
      (click)="recoverEmail()"
      class="full-width submit-button"
    >
      <div *ngIf="isLoading" class="loading-spinner-in-button">
        <mat-spinner color="accent" diameter="24"></mat-spinner>
      </div>
      <ng-container *ngIf="!isLoading">Recover</ng-container>
    </button>
  </ng-container>

  <ng-container *ngSwitchDefault>
    <h2 class="at-auth-card-title">Unauthorized</h2>
  </ng-container>
</ng-container>
<a mat-button class="full-width at-auth-back-button" [routerLink]="linkButton.route">{{ linkButton.text }}</a>
