@use 'mixins';
@use 'variables';

.reorder-column-list {
  display: block;
  width: 100%;
  min-height: 60px;
  margin-bottom: 24px;
  overflow: hidden;

  .cdk-drag-placeholder {
    opacity: 0;
  }
}

.reorder-column-list-box {
  background-color: var(--color-canvas) !important;
  border: 2px solid var(--color-border);
  border-radius: variables.$border-radius;
  cursor: grab;

  &:not(:last-of-type) {
    margin-bottom: 8px;
  }

  &:last-child {
    box-shadow: unset;
  }

  &:focus,
  &:focus:last-child {
    border-color: var(--color-neutral);
    outline: none;
  }

  .inner-container {
    @include mixins.font-size(14px);

    display: grid;
    grid-template-columns: 24px 1fr;
    gap: 8px;
    align-items: center;
    padding: 8px 4px;
    font-weight: variables.$font-weight-bold;
    border-radius: 8px;
  }
}

.reorder-column-list-cdk-drag-preview {
  @include mixins.font-size(16px);

  box-sizing: border-box;
  border: 2px solid var(--color-border);
}

.reorder-column-list.cdk-drop-list-dragging .reorder-column-list-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
