<h2 class="at-auth-card-title">{{ title }}</h2>
<at-sign-in-with-apple-button [prefix]="title"></at-sign-in-with-apple-button>
<at-sign-in-with-google-button [prefix]="title"></at-sign-in-with-google-button>
<button mat-stroked-button (click)="toggleEmailForm()" class="mat-button-with-left-icon full-width">
  <mat-icon *ngIf="!showEmailPasswordForm" [svgIcon]="'carbon-email'"></mat-icon>
  {{ emailSignInButton }}
</button>
<div class="form-container" [@emailPasswordExpanded]="showEmailPasswordForm ? 'expanded' : 'collapsed'">
  <at-sign-in-with-password-form
    [authMode]="emailPasswordAuthMode"
    [buttonText]="title"
    [showForm]="showEmailPasswordForm"
    [attr.aria-hidden]="!showEmailPasswordForm"
  ></at-sign-in-with-password-form>
  <button
    *ngIf="showForgotPassword && showEmailPasswordForm"
    mat-button
    class="full-width forgot-password-button"
    [routerLink]="['/', paths.Auth, paths.ForgotPassword]"
    [attr.aria-hidden]="!showEmailPasswordForm"
  >
    Forgot password?
  </button>
</div>
<button mat-button class="full-width" [routerLink]="signInUpButton?.route">
  {{ signInUpButton?.text }}
</button>
