<form
  #emailFormDirective="ngForm"
  [formGroup]="emailForm"
  [attr.aria-hidden]="!showForm"
  (ngSubmit)="signInWithEmail(emailFormDirective)"
>
  <mat-form-field class="full-width" [attr.aria-hidden]="!showForm">
    <mat-label>Email</mat-label>
    <input formControlName="email" matInput type="email" required />
    <mat-error>{{ getEmailError(email) }}</mat-error>
  </mat-form-field>
  <mat-form-field class="full-width two-line-hint" [attr.aria-hidden]="!showForm">
    <mat-label>Password</mat-label>
    <input formControlName="password" matInput type="password" required />
    <mat-hint>8 or more characters with a mix of letters, numbers, and symbols</mat-hint>
    <mat-error>{{ getPasswordError(password) }}</mat-error>
  </mat-form-field>
  <button
    mat-flat-button
    [color]="buttonColor"
    [disabled]="!showForm || emailForm.disabled || isLoading"
    [attr.aria-hidden]="!showForm"
    type="submit"
    class="full-width submit-button"
  >
    <div *ngIf="isLoading" class="loading-spinner-in-button">
      <mat-spinner color="accent" diameter="24"></mat-spinner>
    </div>
    <ng-container *ngIf="!isLoading">{{ buttonText }}</ng-container>
  </button>
</form>
