.job-boards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(296px, 425px));
  column-gap: 8px;
  row-gap: 8px;
  height: fit-content;
  padding: 8px;

  .mat-card {
    height: fit-content;
  }

  @media (min-width: 768px) {
    padding: 16px;
  }

  @media (min-width: 992px) {
    grid-template-columns: repeat(auto-fit, minmax(300px, 375px));
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
    row-gap: 16px;
  }
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 8px;
}
