<div class="page-container">
  <mat-card class="job-boards-list">
    <div *ngFor="let jobBoard of jobBoards | async" class="job-boards-list-item at-border border">
      <div class="job-boards-list-item-text">
        <div class="job-boards-list-item-title at-text primary">
          {{ jobBoard.title }}
          <span *ngIf="isCurrentBoard(jobBoard)" class="tag success">Current</span>
        </div>
        <div class="at-text muted">
          {{ jobBoard.total }} {{ jobBoard.total === 1 ? 'application' : 'applications' }} &bull;
          {{ convertToDate(jobBoard.date) }}
        </div>
      </div>
      <div class="job-boards-list-item-actions">
        <button mat-stroked-button color="primary" (click)="editJobBoard(jobBoard)" class="mat-button-with-left-icon">
          Edit
        </button>
        <button
          mat-stroked-button
          color="warn"
          [disabled]="isCurrentBoard(jobBoard)"
          (click)="deleteJobBoard(jobBoard)"
          class="mat-button-with-left-icon"
        >
          Delete
        </button>
      </div>
    </div>
  </mat-card>
</div>
