@use 'sass:map';
@use 'palette';
@use 'variables';

.at-light-theme,
.at-dark-theme {
  @each $key in map-keys(palette.$at-palette-keys) {
    .mat-button.mat-#{$key} {
      color: map.get(palette.$at-palette, $key);
    }

    .mat-flat-button,
    .mat-raised-button,
    .mat-fab,
    .mat-mini-fab {
      &.mat-#{$key} {
        color: map.get(palette.$at-palette, contrast, $key);
        background-color: map.get(palette.$at-palette, $key);
      }
    }

    .mat-stroked-button.mat-#{$key} {
      color: map.get(palette.$at-palette, $key);
      border-color: map.get(palette.$at-palette, $key);
    }
  }

  a.mat-icon-button,
  a.mat-icon-button .mat-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mat-button-base {
    font-weight: variables.$font-weight-semi-bold;
    border-radius: variables.$border-radius !important;

    .mat-button-wrapper {
      display: flex;
      flex-direction: row;
      gap: 8px;
      align-items: center;
      justify-content: center;

      .mat-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;

        &.google-icon {
          width: 18px;
          height: 18px;
        }
      }
    }
  }

  .mat-stroked-button {
    border-color: inherit !important;
    border-width: 2px !important;
  }
}
