@use 'sass:map';
@use 'colors';
@use 'mixins';
@use 'variables';

@mixin styles($at-palette, $at-palette-keys, $theme) {
  .mat-card {
    @include mixins.border($at-palette, none !important);

    .mat-card-title {
      @include mixins.font-size(18px);

      margin-bottom: 16px;
      color: map.get($at-palette, 'primary');
      font-weight: variables.$font-weight-bold;

      .title-with-tag {
        display: flex;
        flex-direction: row;
        align-items: center;

        .tag {
          margin-left: 8px;
        }
      }

      .mat-card-subtitle {
        margin: 0;
        color: map.get($at-palette, 'muted');
        font-weight: variables.$font-weight-semi-bold;

        &:first-of-type {
          margin-top: 8px;
        }
      }
    }
  }

  .mat-card.with-table {
    padding: 0 16px 8px;
  }
}
