@use 'mixins';
@use 'variables';

.at-light-theme,
.at-dark-theme {
  .mat-card {
    @include mixins.border;

    .mat-card-title {
      @include mixins.font-size(18px);

      margin-bottom: 16px;
      color: var(--color-primary);
      font-weight: variables.$font-weight-bold;

      .title-with-tag {
        display: flex;
        flex-direction: row;
        align-items: center;

        .tag {
          margin-left: 8px;
        }
      }

      .mat-card-subtitle {
        margin: 0;
        color: var(--color-muted);
        font-weight: variables.$font-weight-semi-bold;

        &:first-of-type {
          margin-top: 8px;
        }
      }
    }
  }

  .mat-card.with-table {
    padding: 0 16px 8px;
  }
}
