@use 'variables';

.at-light-theme,
.at-dark-theme {
  .mat-datepicker-content {
    border: 2px solid var(--color-border);
    border-radius: variables.$border-radius;
    box-shadow: none !important;
  }
}
