@use 'variables';

.at-light-theme,
.at-dark-theme {
  .mat-mdc-form-field {
    margin-bottom: 12px;

    &.two-line-hint {
      margin-bottom: 32px;

      @media (min-width: 350px) {
        margin-bottom: 24px;
      }
    }

    .mat-mdc-form-field-focus-overlay {
      display: none !important;
    }

    .mdc-text-field {
      background-color: var(--color-canvas-inset) !important;
      border: 2px solid var(--color-border);
      border-radius: variables.$border-radius;
    }

    .mat-mdc-form-field-infix {
      display: flex;
    }

    .mdc-line-ripple {
      display: none;
    }

    .mat-mdc-select .mat-mdc-select-arrow-wrapper .mat-mdc-select-arrow {
      display: none;
    }

    .mat-mdc-form-field-icon-suffix .mat-icon.arrow-drop-down {
      width: 28px;
      height: 28px;
      padding: 10px;
      color: var(--color-muted);
      font-size: 28px;
    }

    .mat-mdc-form-field-subscript-wrapper {
      line-height: normal;
    }
  }

  .mat-form-field-combined {
    display: block;

    @media (min-width: 425px) {
      display: grid;
      grid-template-columns: 1fr 135px;

      .mat-mdc-form-field:first-of-type .mdc-text-field {
        border-right-width: 0 !important;
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
      }

      .mat-mdc-form-field:last-of-type .mdc-text-field {
        border-left: 2px solid var(--color-border);
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
      }
    }
  }

  .mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper {
    padding-right: 8px;
  }

  .mat-mdc-form-field-icon-suffix > .mat-icon {
    padding: 0;
  }

  input.mat-mdc-input-element {
    font-family: variables.$font-family !important;
  }
}
