@use 'sass:map';
@use 'mixins';
@use 'variables';

@mixin styles($at-palette, $at-palette-keys, $theme) {
  .mat-menu-panel,
  .mat-select-panel {
    @include mixins.border($at-palette, none !important);
  }

  .mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
    background: map.get($at-palette, 'hover');
  }

  .mat-menu-content {
    padding-top: 0 !important;
    padding-bottom: 0 !important;

    .mat-divider {
      margin: 0 !important;
    }
  }

  .mat-list-single-selected-option {
    background-color: map.get($at-palette, 'hover') !important;
    color: map.get($at-palette, 'primary') !important;
  }

  .mat-list-base {
    padding-bottom: 8px;
  }
}
