@use 'mixins';

.at-light-theme,
.at-dark-theme {
  .mat-mdc-menu-panel,
  .mat-mdc-select-panel {
    @include mixins.border;
  }

  .mat-mdc-menu-panel {
    top: 2px;
  }

  .mat-mdc-menu-item:hover,
  .mat-mdc-option:hover,
  .mat-mdc-menu-item-highlighted {
    background: var(--color-hover) !important;
  }

  .mat-mdc-select-panel,
  .mat-mdc-menu-content {
    padding-top: 0 !important;
    padding-bottom: 0 !important;

    .mat-divider {
      margin: 0 !important;
    }
  }

  .mat-mdc-option-active {
    color: var(--color-primary);
    background-color: var(--color-hover) !important;
  }

  .mat-list-base {
    padding-bottom: 8px;
  }

  .mat-list-item:focus {
    outline: 2px solid var(--color-primary);
  }

  .mat-menu-item-with-right-icon {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;

    padding: 0 8px 0 16px !important;

    .mat-icon {
      width: 28px;
      height: 28px;
      margin-right: 0;
      font-size: 28px;
    }

    .mat-mdc-menu-submenu-icon {
      display: none;
    }
  }

  .mdc-list-item .mdc-list-item__primary-text {
    color: inherit !important;
  }
}
