@use 'mixins';

.at-light-theme,
.at-dark-theme {
  .mat-menu-panel,
  .mat-select-panel {
    @include mixins.border;
  }

  .mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
    background: var(--color-hover) !important;
  }

  .mat-menu-content {
    padding-top: 0 !important;
    padding-bottom: 0 !important;

    .mat-divider {
      margin: 0 !important;
    }
  }

  .mat-list-single-selected-option {
    color: var(--color-primary) !important;
    background-color: var(--color-hover) !important;
  }

  .mat-list-base {
    padding-bottom: 8px;
  }

  .mat-list-item:focus {
    outline: 2px solid var(--color-primary);
  }
}
