.at-light-theme,
.at-dark-theme {
  .mat-sidenav-container {
    position: absolute;
    inset: 0;

    .mat-sidenav-content {
      display: flex;
      flex-direction: column;
      height: 100dvh !important;
    }
  }

  .mat-sidenav {
    border-right: 2px solid var(--color-border) !important;
  }

  .mat-drawer {
    box-shadow: none !important;
  }

  .mat-drawer-backdrop.mat-drawer-shown {
    background-color: var(--color-backdrop) !important;
  }
}
