@use 'sass:map';

@mixin styles($at-palette, $at-palette-keys, $theme) {
  .mat-slide-toggle-thumb {
    background-color: map.get($at-palette, 'hover');
    border: 2px solid map.get($at-palette, 'border');
    box-shadow: none !important;
  }
}
