.at-light-theme,
.at-dark-theme {
  .mat-mdc-slide-toggle .mdc-switch .mdc-switch__track {
    height: 24px !important;
    padding: 0 4px !important;
    border-radius: 50px !important;
  }

  .mdc-switch {
    width: 40px !important;

    &.mdc-switch--unselected .mdc-switch__handle-track {
      transform: translateX(10%);
    }

    &.mdc-switch--selected .mdc-switch__handle-track {
      transform: translateX(90%);
    }

    .mdc-switch__icons {
      display: none;
    }
  }
}
