@use 'sass:map';
@use 'variables';

@mixin styles($theme-colors, $theme) {
  .mat-toolbar {
    border-bottom: 2px solid map.get($theme-colors, 'border');

    &.absolute-toolbar {
      position: absolute;
      z-index: 2;
    }

    &.ghost-toolbar {
      background-color: transparent;
      border-bottom: 0;
      box-shadow: none;
    }

    .mat-toolbar-title {
      font-weight: variables.$font-weight-bold;
    }

    @media (max-width: 768px) {
      padding: 0 8px;
    }
  }
}
