<mat-sidenav-container>
  <mat-sidenav #sidenav [mode]="(sidenavService.mode$ | async) ?? 'side'" [opened]="sidenavService.opened$ | async">
    <at-toolbar variant="ghost">
      <mat-icon>explore</mat-icon>
      <at-toolbar-title>ApplicationTrackr</at-toolbar-title>
    </at-toolbar>
    <div class="sidenav-item-container">
      <mat-nav-list class="sidenav-mat-selection-list">
        <a
          mat-list-item
          *ngFor="let item of sidenavItems"
          [routerLink]="item.route"
          routerLinkActive="mat-list-single-selected-option"
          (click)="toggleSidenav()"
          class="sidenav-item"
        >
          <mat-icon mat-list-icon>{{ item.icon }}</mat-icon>
          {{ item.viewValue }}
        </a>
      </mat-nav-list>
      <ng-container *ngIf="(sidenavService.showMenuButton$ | async) === false">
        <mat-divider class="padded-divider"></mat-divider>
        <div class="padded-container">
          <at-job-board-selector></at-job-board-selector>
        </div>
      </ng-container>

      <div class="spacer"></div>
      <div class="sidenav-item-container-end">
        <button mat-icon-button matTooltip="Help" (click)="openHelpDialog()">
          <mat-icon>help</mat-icon>
        </button>
        <a mat-icon-button [routerLink]="['/', paths.Settings]" matTooltip="Settings">
          <mat-icon>settings</mat-icon>
        </a>
        <button mat-icon-button matTooltip="Sign out" (click)="signOut()">
          <mat-icon>logout</mat-icon>
        </button>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <at-toolbar *ngIf="sidenavService.showMenuButton$ | async">
      <button mat-icon-button (click)="toggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
      <at-job-board-selector mode="menu"></at-job-board-selector>
    </at-toolbar>
    <router-outlet *ngIf="isLoaded$ | async"></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
