@use 'mixins';
@use 'variables';

:host ::ng-deep {
  .mat-drawer-inner-container {
    display: flex;
    flex-direction: column;
  }
}

.at-toolbar-brand {
  gap: 12px;
  padding-left: 24px;
}

.at-dashboard-sidenav {
  display: flex;
  flex-direction: column;
  width: 250px;
}

.at-dashboard-sidenav-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 0 8px 8px;

  .at-dashboard-sidenav-item,
  .mat-ripple {
    border-radius: variables.$border-radius;
  }

  .at-dashboard-sidenav-item {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    height: 48px;
    padding: 0 16px;
    color: var(--color-foreground);
    font-weight: variables.$font-weight-semi-bold;
    text-decoration: none;

    &:hover {
      background-color: var(--color-hover);
    }

    &:focus {
      outline: 2px solid var(--color-primary);
    }

    &.at-dashboard-sidenav-item-active {
      color: var(--color-primary);
      background-color: var(--color-hover);
    }
  }
}

.at-dashboard-padded-container {
  display: flex;
  flex-direction: column;
  padding: 0 8px;
}

.at-dashboard-sidenav-button-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 8px;

  .mat-mdc-button-base {
    justify-content: space-between !important;
  }
}
