@use 'mixins';
@use 'variables';

:host {
  .mat-sidenav {
    width: 250px !important;
  }

  ::ng-deep {
    .mat-drawer-inner-container {
      display: flex;
      flex-direction: column;
    }

    .sidenav-mat-selection-list {
      display: flex;
      flex-direction: column;
      gap: 4px;
      padding: 0 8px;

      .mat-list-item,
      .mat-ripple {
        border-radius: variables.$border-radius;
      }

      .mat-list-item {
        height: 48px !important;

        .mat-list-item-content {
          gap: 16px;
          padding: 0 16px;
          font-weight: variables.$font-weight-semi-bold;

          .mat-icon {
            padding: 0;
          }
        }
      }
    }
  }

  .sidenav-item-container {
    display: flex;
    flex: 1;
    flex-direction: column;
  }

  .padded-container {
    display: flex;
    flex-direction: column;
    padding: 0 8px;
  }

  .sidenav-item-container-end {
    display: flex;
    justify-content: space-between;
    padding: 12px;
  }
}
