@use 'sass:map';
@use 'mixins';
@use 'palette';
@use 'variables';

:host {
  position: relative;
  background-color: var(--color-canvas);
  border: 2px solid var(--color-border);
  border-radius: variables.$border-radius;

  &:hover {
    cursor: grab;
    background-color: transparent;

    .at-application-card-link-button {
      display: flex;
      background-color: var(--color-hover);
    }
  }

  &:focus {
    outline: none;

    @each $key in map.keys(palette.$at-palette-keys) {
      &.#{$key} {
        border: 2px solid map.get(palette.$at-palette, $key);
      }
    }
  }
}

.at-application-card-inner-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
}

.at-application-card-link-button {
  position: absolute;
  top: 8px;
  right: 8px;

  display: none;

  background-color: var(--color-canvas) !important;
}

.at-application-card-title {
  @include mixins.font-size(18px);

  font-weight: variables.$font-weight-bold;
}

.at-application-card-subtitle-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.at-application-card-icon-subtitle {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 6px;

  font-weight: variables.$font-weight-semi-bold;
  color: var(--color-muted);
}

.at-application-card-icon {
  display: inline-flex;
  align-items: center;

  width: auto;
  width: 16px;
  height: 16px;

  font-size: 16px;
}

.at-application-card-date-text {
  @include mixins.font-size(12px);

  font-weight: variables.$font-weight-regular;
  color: var(--color-subtle);
}
