@use 'colors';
@use 'global';
@use 'themes';
@use 'variables';

html,
body {
  font-family: variables.$font-family !important;
  height: 100%;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: variables.$font-weight-bold !important;
}

.at-light-theme {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a {
    color: colors.$blue-60;
  }
}

.at-dark-theme {
  background-color: colors.$primer-gray-110;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a {
    color: colors.$blue-40;
  }
}
