@use 'sass:map';
@use 'colors';
@use 'components';
@use 'material';
@use 'palette';
@use 'themes';
@use 'variables';

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  color: map.get(palette.$at-palette, contrast, canvas);
  font-family: variables.$font-family !important;
  background-color: map.get(palette.$at-palette, canvas-inset);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: map.get(palette.$at-palette, primary);
  font-weight: variables.$font-weight-bold !important;
}

a {
  color: map.get(palette.$at-palette, primary);
}

@each $key in map-keys(palette.$at-palette-keys) {
  .#{$key} {
    &.at-border {
      border: 2px solid map.get(palette.$at-palette, $key);
    }

    &.at-text {
      color: map.get(palette.$at-palette, $key) !important;
    }

    &:not(.neutral).at-alpha-background {
      background-color: map.get(palette.$at-palette, 'alpha', $key) !important;
    }

    &.neutral.at-alpha-background {
      background-color: map.get(palette.$at-palette, canvas-inset) !important;
    }
  }
}

.at-background {
  background-color: map.get(palette.$at-palette, canvas);
}

.at-alt-background {
  background-color: map.get(palette.$at-palette, canvas-inset);
}

.spacer {
  flex: 1 1 auto;
}

.full-width {
  width: 100%;
}

.full-height-flex {
  display: flex;
  flex-direction: column;
  height: 100%;
}
