@use 'sass:map';
@use 'colors';
@use 'mixins';
@use 'palettes';
@use 'variables';

@mixin get-components-styles($theme: variables.$light) {
  $at-palette: palettes.get-at-palette($theme);
  $at-palette-keys: palettes.get-at-palette-keys($theme);

  .loading-spinner-in-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5px 0;
  }

  .dialog-header-with-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;

    .mat-icon {
      margin-bottom: 16px;
    }

    .dialog-header {
      @include mixins.font-size(20px);

      font-weight: variables.$font-weight-bold;
    }
  }

  .button-row-container-end {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;

    .mat-button-base:not(:last-child) {
      margin-right: 8px;
    }
  }

  .board-column {
    overflow: hidden;
    min-width: 275px;
    border-right: 2px solid map.get($at-palette, 'border');

    @if $theme == variables.$dark {
      background-color: colors.$primer-gray-100;
    } @else {
      // (default) light
      background-color: colors.$light-gray-0;
    }

    .mat-card:not(:last-of-type) {
      margin-bottom: 8px;
    }

    .board-column-header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 5px;
      padding: 5px 5px 0 10px;

      .board-column-title-container {
        display: flex;
        flex-direction: row;
        align-items: center;

        .board-column-title {
          @include mixins.font-size(16px);

          font-weight: variables.$font-weight-bold;
        }

        .board-column-application-count {
          margin-left: 8px;
          font-weight: variables.$font-weight-semi-bold !important;
        }
      }
    }

    .cdk-container {
      height: calc(100% - 50px);
    }

    @media (min-width: 375px) {
      min-width: 325px;
    }

    @media (min-width: 768px) {
      .board-column-header {
        margin-bottom: 8px;
        padding: 8px 8px 0 16px;
      }

      .cdk-container {
        height: calc(100% - 52px);
      }
    }
  }

  .tag {
    @include mixins.font-size(12px);

    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 2px 6px;
    border-radius: 100px;
    white-space: nowrap;

    @each $key in map-keys($at-palette-keys) {
      &.#{$key} {
        border: 2px solid map-get($at-palette, $key);
        background-color: rgba(map-get($at-palette, $key), $alpha: 0.05);
        color: map-get($at-palette, $key);
      }
    }
  }

  .application-card {
    .application-card-title {
      margin-bottom: 8px !important;
    }

    &:hover {
      background-color: transparent;
      cursor: grab;
    }

    &:focus {
      outline: none;

      @each $key in map-keys($at-palette-keys) {
        &.#{$key} {
          border: 2px solid map-get($at-palette, $key);
        }
      }
    }

    .icon-subtitle {
      display: flex;
      flex-direction: row;
      align-items: flex-start;

      @if $theme == variables.$dark {
        color: colors.$primer-gray-30;
      } @else {
        // (default) light theme
        color: colors.$light-gray-9;
      }

      .small-icon {
        display: inline-flex;
        width: 16px !important;
        height: 16px !important;
        font-size: 16px;
        margin-top: 2px;
        margin-right: 8px;

        svg {
          width: 16px !important;
          height: 16px !important;
        }
      }
    }

    .mat-card-content {
      font-weight: variables.$font-weight-semi-bold;
    }
  }
}
