@forward './components/application-card';
@forward './components/column';
@forward './components/drag-drop';
@forward './components/tag';

.loading-spinner-in-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 5px 0;
}

.button-row-container-end {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;

  .mat-button-base:not(:last-child) {
    margin-right: 8px;
  }
}
