.page-container {
  display: flex;
  flex: 1 1 auto;
  height: calc(100vh - 56px - 8px);
  padding: 0 8px 8px;
  overflow: auto;

  @media (min-width: 600px) {
    height: calc(100vh - 64px - 8px);
  }

  @media (min-width: 768px) {
    height: calc(100vh - 64px - 16px);
    padding: 0 16px 16px;
  }

  @media (min-width: 1280px) {
    height: calc(100vh - 32px);
    padding: 16px;
  }

  &.no-padding {
    height: calc(100vh - 56px);
    padding: 0;

    @media (min-width: 600px) {
      height: calc(100vh - 64px);
    }

    @media (min-width: 768px) {
      height: calc(100vh - 64px);
    }

    @media (min-width: 1280px) {
      height: 100vh;
    }
  }
}

.spacer {
  flex: 1 1 auto;
}

.full-width {
  width: 100%;
}

.form-max-width {
  max-width: 500px;
}

.full-height-flex {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.button-row {
  display: flex;
  flex-flow: row wrap;
  gap: 8px;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 24px;

  @media (min-width: 650px) {
    grid-template-columns: repeat(2, 1fr);
  }
}
