@use 'sass:map';
@use 'variables';

@mixin border($theme-colors, $box-shadow: unset) {
  border: 2px solid map.get($theme-colors, 'border');
  border-radius: variables.$border-radius !important;
  box-shadow: $box-shadow;
}

@mixin font-size($size) {
  font-size: $size !important;
  line-height: $size * 1.25 !important;
}

@mixin tab-label-color($color) {
  &:hover,
  &:focus,
  &.mat-tab-label-active {
    color: $color;
  }
}
