@use 'variables';

@mixin border() {
  border: 2px solid var(--color-border);
  border-radius: variables.$border-radius !important;
  box-shadow: none !important;
}

@mixin font-size($size) {
  font-size: $size !important;
  line-height: $size * 1.25 !important;
}

@mixin tab-label-color($color) {
  &:hover,
  &:focus {
    color: $color !important;
  }
}
