@use 'sass:map';
@use 'colors';
@use 'variables';

$red-palette: (
  50: colors.$light-red-0,
  100: colors.$light-red-1,
  200: colors.$light-red-2,
  300: colors.$light-red-3,
  400: colors.$dark-error,
  500: colors.$light-red-5,
  600: colors.$light-red-6,
  700: colors.$light-red-7,
  800: colors.$light-red-8,
  900: colors.$light-red-9,
  contrast: (
    50: colors.$black,
    100: colors.$black,
    200: colors.$black,
    300: colors.$black,
    400: colors.$black,
    500: colors.$white,
    600: colors.$white,
    700: colors.$white,
    800: colors.$white,
    900: colors.$white
  )
);

$purple-palette: (
  50: colors.$light-purple-0,
  100: colors.$light-purple-1,
  200: colors.$light-purple-2,
  300: colors.$dark-accent,
  400: colors.$light-purple-4,
  500: colors.$light-purple-5,
  600: colors.$light-purple-6,
  700: colors.$light-purple-7,
  800: colors.$light-purple-8,
  900: colors.$light-purple-9,
  contrast: (
    50: colors.$black,
    100: colors.$black,
    200: colors.$black,
    300: colors.$black,
    400: colors.$black,
    500: colors.$white,
    600: colors.$white,
    700: colors.$white,
    800: colors.$white,
    900: colors.$white
  )
);

$blue-palette: (
  50: colors.$light-blue-0,
  100: colors.$light-blue-1,
  200: colors.$light-blue-2,
  300: colors.$dark-primary,
  400: colors.$light-blue-4,
  500: colors.$light-blue-5,
  600: colors.$light-blue-6,
  700: colors.$light-blue-7,
  800: colors.$light-blue-8,
  900: colors.$light-blue-9,
  contrast: (
    50: colors.$black,
    100: colors.$black,
    200: colors.$black,
    300: colors.$black,
    400: colors.$black,
    500: colors.$white,
    600: colors.$white,
    700: colors.$white,
    800: colors.$white,
    900: colors.$white
  )
);

$green-palette: (
  50: colors.$light-green-0,
  100: colors.$light-green-1,
  200: colors.$light-green-2,
  300: colors.$dark-primary,
  400: colors.$light-green-4,
  500: colors.$light-green-5,
  600: colors.$light-green-6,
  700: colors.$light-green-7,
  800: colors.$light-green-8,
  900: colors.$light-green-9,
  contrast: (
    50: colors.$black,
    100: colors.$black,
    200: colors.$black,
    300: colors.$black,
    400: colors.$black,
    500: colors.$white,
    600: colors.$white,
    700: colors.$white,
    800: colors.$white,
    900: colors.$white
  )
);

$light-theme-foreground-palette: (
  base: colors.$light-gray-9,
  divider: colors.$light-gray-1,
  dividers: colors.$light-gray-1,
  disabled: colors.$light-gray-2,
  disabled-button: colors.$light-gray-3,
  disabled-text: colors.$light-gray-2,
  hint-text: colors.$light-gray-9,
  secondary-text: colors.$light-gray-9,
  icon: colors.$light-gray-9,
  icons: colors.$light-gray-9,
  text: colors.$light-gray-9,
  slider-min: colors.$light-gray-3,
  slider-off: colors.$light-gray-3,
  slider-off-active: colors.$light-gray-3
);

$dark-theme-foreground-palette: (
  base: colors.$primer-gray-20,
  divider: colors.$primer-gray-80,
  dividers: colors.$primer-gray-80,
  disabled: colors.$primer-gray-70,
  disabled-button: colors.$primer-gray-70,
  disabled-text: colors.$primer-gray-70,
  hint-text: colors.$primer-gray-30,
  secondary-text: colors.$primer-gray-30,
  icon: colors.$primer-gray-20,
  icons: colors.$primer-gray-20,
  text: colors.$primer-gray-20,
  slider-min: colors.$primer-gray-40,
  slider-off: colors.$primer-gray-40,
  slider-off-active: colors.$primer-gray-40
);

$light-theme-background-palette: (
  status-bar: colors.$white,
  app-bar: colors.$white,
  background: colors.$light-gray-0,
  hover: colors.$light-gray-1,
  card: colors.$white,
  dialog: colors.$white,
  disabled-button: colors.$light-gray-1,
  raised-button: colors.$light-gray-0,
  focused-button: colors.$light-gray-9,
  selected-button: colors.$light-gray-1,
  selected-disabled-button: colors.$light-gray-1,
  disabled-button-toggle: colors.$light-gray-1,
  unselected-chip: colors.$light-gray-0,
  disabled-list-option: colors.$white,
  tooltip: colors.$light-gray-8
);

$dark-theme-background-palette: (
  status-bar: colors.$primer-gray-110,
  app-bar: colors.$primer-gray-110,
  background: colors.$primer-gray-100,
  hover: colors.$primer-gray-90,
  card: colors.$primer-gray-110,
  dialog: colors.$primer-gray-110,
  disabled-button: colors.$primer-gray-80,
  raised-button: colors.$primer-gray-90,
  focused-button: colors.$primer-gray-10,
  selected-button: colors.$primer-gray-80,
  selected-disabled-button: colors.$primer-gray-80,
  disabled-button-toggle: colors.$primer-gray-80,
  unselected-chip: colors.$primer-gray-80,
  disabled-list-option: colors.$primer-gray-110,
  tooltip: colors.$primer-gray-80
);

$at-light-palette: (
  primary: colors.$light-blue-5,
  accent: colors.$light-purple-5,
  accent-alt: colors.$light-pink-5,
  success: colors.$light-green-5,
  attention: colors.$light-yellow-5,
  severe: colors.$light-orange-5,
  severe-alt: colors.$light-coral-5,
  danger: colors.$light-red-5,
  neutral: colors.$light-gray-9,
  border: colors.$light-gray-1,
  hover: colors.$light-gray-1,
  contrast: (
    primary: colors.$white,
    accent: colors.$white,
    accent-alt: colors.$white,
    success: colors.$white,
    attention: colors.$white,
    severe: colors.$white,
    severe-alt: colors.$white,
    danger: colors.$white,
    neutral: colors.$white,
    border: colors.$white,
    hover: colors.$light-gray-9
  )
);

$at-dark-palette: (
  primary: colors.$dark-primary,
  accent: colors.$dark-accent,
  success: colors.$dark-success,
  danger: colors.$dark-error,
  neutral: colors.$primer-gray-20,
  border: colors.$dark-border,
  hover: colors.$primer-gray-90,
  contrast: (
    primary: colors.$black,
    accent: colors.$black,
    success: colors.$black,
    danger: colors.$black,
    neutral: colors.$black,
    border: colors.$black,
    hover: colors.$primer-gray-20
  )
);

$at-light-palette-keys: map-remove($at-light-palette, contrast);
$at-dark-palette-keys: map-remove($at-dark-palette, contrast);

@function get-at-palette($theme: variables.$light) {
  @if $theme == variables.$dark {
    @return $at-dark-palette;
  } @else {
    // (default) light theme
    @return $at-light-palette;
  }
}

@function get-at-palette-keys($theme: variables.$light) {
  @if $theme == variables.$dark {
    @return $at-dark-palette-keys;
  } @else {
    // (default) light theme
    @return $at-light-palette-keys;
  }
}
