@use '@angular/material' as mat;
@use 'colors';
@use 'variables';

@function create-theme($primary, $accent, $warn, $is-dark: false) {
  $foreground: colors.$light-theme-foreground-palette;
  $background: colors.$light-theme-background-palette;

  @if $is-dark {
    $foreground: colors.$dark-theme-foreground-palette;
    $background: colors.$dark-theme-background-palette;
  }

  @return (
    primary: $primary,
    accent: $accent,
    warn: $warn,
    is-dark: $is-dark,
    foreground: $foreground,
    background: $background
  );
}

$light-theme-primary: mat.define-palette(colors.$blue-palette);
$light-theme-accent: mat.define-palette(colors.$purple-palette);
$light-theme-warn: mat.define-palette(colors.$red-palette);
$light-theme: create-theme($light-theme-primary, $light-theme-accent, $light-theme-warn);

$dark-theme-primary: mat.define-palette(colors.$dark-blue-palette, 300);
$dark-theme-accent: mat.define-palette(colors.$dark-purple-palette, 300);
$dark-theme-warn: mat.define-palette(colors.$dark-red-palette, 400);
$dark-theme: create-theme($dark-theme-primary, $dark-theme-accent, $dark-theme-warn, true);

$typography: mat.define-typography-config(
  $font-family: variables.$font-family,
  $input: mat.define-typography-level(14px, 1.25, 400)
);

@include mat.core($typography);

.at-light-theme {
  @include mat.all-component-themes($light-theme);
}

.at-dark-theme {
  @include mat.all-component-themes($dark-theme);
}
