<mat-sidenav-container>
  <mat-sidenav #sidenav [mode]="mode" [opened]="opened">
    <mat-toolbar class="ghost-toolbar primary at-text">
      <span class="mat-toolbar-title">ApplicationTrackr</span>
    </mat-toolbar>
    <div class="sidenav-item-container">
      <mat-nav-list class="sidenav-mat-selection-list">
        <a
          mat-list-item
          *ngFor="let item of sidenavItems"
          [routerLink]="item.route"
          routerLinkActive="mat-list-single-selected-option"
          (click)="toggleSidenav()"
          class="sidenav-item"
        >
          <mat-icon mat-list-icon [svgIcon]="item.icon"></mat-icon>
          <span mat-line>{{ item.viewValue }}</span>
        </a>
      </mat-nav-list>
      <ng-container *ngIf="(sidenavService.showMenuButton | async) === false">
        <mat-divider></mat-divider>
        <div class="padded-container">
          <at-job-board-selector></at-job-board-selector>
        </div>
      </ng-container>

      <div class="spacer"></div>
      <div class="sidenav-item-container-end">
        <a mat-button [routerLink]="['/', paths.Settings]" class="button-link mat-button-with-top-icon">
          <mat-icon svgIcon="carbon-settings"></mat-icon>
          Settings
        </a>
        <button mat-button (click)="signOut()" class="mat-button-with-top-icon">
          <mat-icon svgIcon="carbon-logout"></mat-icon>
          Sign out
        </button>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar *ngIf="sidenavService.showMenuButton | async" class="at-toolbar">
      <button mat-icon-button (click)="toggleSidenav()">
        <mat-icon svgIcon="carbon-menu"></mat-icon>
      </button>
      <at-job-board-selector mode="menu"></at-job-board-selector>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
