@use 'colors' as colors;

:host {
  .mat-sidenav {
    border: 0;
    width: 236px !important;
  }

  .outlet-container {
    padding-bottom: 8px;
    flex: 1 1 auto;
  }

  @media (min-width: 768px) {
    .outlet-container {
      padding-bottom: 16px;
    }
  }
}
