@use 'mixins';
@use 'variables';

.job-boards-list-item {
  display: flex;
  flex-flow: column wrap;
  gap: 16px;
  padding: 16px;

  &:not(:last-child) {
    border-bottom: 2px solid var(--color-border);
  }
}

.job-boards-list-item-text {
  font-weight: variables.$font-weight-semi-bold;

  .job-boards-list-item-title {
    @include mixins.font-size(18px);

    display: flex;
    flex-flow: row wrap;
    gap: 8px;
    align-items: center;
    margin-bottom: 8px;
    font-weight: variables.$font-weight-bold;
  }
}

.job-boards-list-item-actions {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.job-board-total-skeleton {
  width: 185px;
  height: 17.5px;
  background-color: var(--color-border);
  border-radius: 4px;
  animation: skeleton-loading 1s linear infinite alternate;
}

@media (min-width: 768px) {
  .job-boards-list-item {
    flex-flow: row wrap !important;
    align-items: center;
    justify-content: space-between;
  }
}

@keyframes skeleton-loading {
  0% {
    background-color: var(--color-border);
  }

  100% {
    background-color: var(--color-hover);
  }
}
