@use 'colors';

:host {
  .mat-button-base:not(:last-child) {
    margin-bottom: 16px;
  }

  ::ng-deep {
    .at-sign-in-with-apple,
    .at-sign-in-with-google {
      margin-bottom: 16px;
    }
  }

  .forgot-password-button {
    margin-top: 16px;
  }
}
