:host {
  .sidenav-mat-selection-list {
    padding-top: 8px;
  }

  .sidenav-item-container {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .padded-container {
    display: flex;
    flex-direction: column;
    padding: 8px 16px 0;
  }

  .sidenav-item-container-end {
    display: flex;
    justify-content: space-between;
    padding: 12px;
  }
}
