<mat-toolbar class="ghost-toolbar at-primary at-text">
  <span class="mat-toolbar-title">ApplicationTrackr</span>
</mat-toolbar>
<div class="sidenav-item-container">
  <mat-nav-list class="sidenav-mat-selection-list">
    <a
      mat-list-item
      *ngFor="let item of sidenavItems"
      [routerLink]="item.route"
      routerLinkActive="mat-list-single-selected-option"
      (click)="toggleSidenav()"
      class="sidenav-item"
    >
      <mat-icon mat-list-icon [svgIcon]="item.icon"></mat-icon>
      <span mat-line>{{ item.viewValue }}</span>
    </a>
  </mat-nav-list>
  <div *ngIf="(sidenavService.showMenuButton | async) === false" class="padded-container">
    <at-board-selector></at-board-selector>
  </div>
  <div class="spacer"></div>
  <div class="sidenav-item-container-end">
    <at-theme-picker></at-theme-picker>
    <a mat-icon-button matTooltip="Settings" [routerLink]="['/', paths.Settings]" class="button-link">
      <mat-icon [svgIcon]="'carbon-settings'"></mat-icon>
    </a>
    <button mat-icon-button matTooltip="Sign out" (click)="signOut()">
      <mat-icon [svgIcon]="'carbon-logout'"></mat-icon>
    </button>
  </div>
</div>
