<at-toolbar [fixed]="true">
  <a mat-button routerLink="dashboard" class="mat-button-with-left-icon">
    <mat-icon>arrow_back</mat-icon>
    Dashboard
  </a>
  <at-toolbar-spacer></at-toolbar-spacer>
  <button mat-button class="mat-button-with-right-icon" (click)="signOut()">
    Sign out
    <mat-icon>logout</mat-icon>
  </button>
</at-toolbar>

<section class="settings-container">
  <h1>Settings</h1>
  <div class="settings-inner-container">
    <div class="settings-sidenav">
      <div class="settings-sidenav-section-header at-text muted">General</div>
      <a [routerLink]="paths.Account" routerLinkActive="active" class="settings-sidenav-item">
        <mat-icon>account_circle</mat-icon>
        Account
      </a>
      <mat-divider class="padded-divider"></mat-divider>
      <div class="settings-sidenav-section-header at-text muted">Application</div>
      <a [routerLink]="paths.Appearance" routerLinkActive="active" class="settings-sidenav-item">
        <mat-icon>palette</mat-icon>
        Appearance
      </a>
      <a [routerLink]="paths.Layout" routerLinkActive="active" class="settings-sidenav-item">
        <mat-icon>space_dashboard</mat-icon>
        Layout
      </a>
      <mat-divider class="padded-divider"></mat-divider>
      <div class="settings-sidenav-section-header at-text muted">Miscellaneous</div>
      <a [routerLink]="paths.About" routerLinkActive="active" class="settings-sidenav-item">
        <mat-icon>info</mat-icon>
        About
      </a>
    </div>
    <div class="settings-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</section>
