@use 'mixins';
@use 'pages/settings';
@use 'variables';

.settings-container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 72px 16px 0;

  h1 {
    @include mixins.font-size(24px);

    margin-bottom: 16px;
  }
}

.settings-inner-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.settings-sidenav {
  min-width: 250px;
  margin-bottom: 32px;
}

.settings-sidenav-section-header {
  @include mixins.font-size(12px);

  margin-bottom: 10px;
  font-weight: variables.$font-weight-semi-bold;
}

.settings-sidenav-item {
  @include mixins.font-size(14px);

  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  height: 40px;
  padding: 0 16px 0 12px;
  color: var(--color-neutral);
  font-weight: variables.$font-weight-semi-bold;
  text-decoration: none !important;
  border-radius: variables.$border-radius;

  &:not(:last-child) {
    margin-bottom: 4px;
  }

  &:hover {
    background-color: var(--color-hover);
    cursor: pointer;
  }

  &:focus {
    outline: 2px solid var(--color-primary);
  }

  &.active {
    color: var(--color-primary);
    background-color: var(--color-hover);
  }

  .mat-icon {
    width: 18px;
    height: 18px;
    font-size: 18px;
  }
}

.settings-content {
  width: 100%;
  margin-top: 13.5px;
}

@media (min-width: 768px) {
  .settings-inner-container {
    flex-direction: row;
  }

  .settings-sidenav {
    position: sticky;
    top: 72px;
    align-self: flex-start;
  }
}
